.container {
    width: 100%;
    background-color: #fff;
}

.line {
    background-color: #7AD03A;
    height: 2vw;
}

.Toolbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6.5vw;
    position: sticky;
    position: -webkit-sticky;
    
}

.button-frame {
    height: 100%;
    align-self: center;
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #fff;
    text-decoration: none;
    border: none;
    color: #515151;
    padding: 0 1.4vw;
    font-size: 1.2vw;
    display:grid; 
    justify-content:center;
}

.text {
    align-self: center;
}

.button:hover {
    background-color: #7AD03A;
    color: #fff;
    transition: linear 0.2s all;
}

.button:active {
    background-color: #7AD03A;
    color: #fff;
    transition: linear 0.2s all;
}

.withBorder {
    background-color: #7AD03A;
    color: #fff;
}

.logo {
    align-self: center;
    margin-right: 20vw;
}
.logo-toolbar {height: 5vw;}

.logo {width: 24%; background-color: #fff;}
.logo, .button {height: 100%;}

.Toolbar .cart-icon {
    width: 2vw;
    height: 80%;
    padding-top: 20%;
}